# Created by .ignore support plugin (hsz.mobi)
kame.iml
kame.ipr
kame.iws
playground/crawler/target
playground/page-rank/target
playground/ir/index/target
playground/crawler/playground-crawler.iml
crawler/crawler.iml
crawler/target
playground/page-rank/playground-page-rank.iml
playground/ir/playground-ir.iml
playground/ir/index/playground-ir-index.iml
search-frontend/search-frontend.iml
playground/ir/target
crawler/crawler-core/target
crawler/crawler-core/crawler-core.iml
crawler/crawler-cli/crawler-cli.iml
crawler/crawler-cli/target
crawler/crawler-service/crawler-service.iml
crawler/crawler-service/target
crawler/crawler-service/documents
crawler/crawler-scheduler/target
crawler/crawler-scheduler/crawler-scheduler.iml
crawler/rabbitmq/.vagrant
crawler/mongodb/.vagrant
crawler/crawler-service-api/crawler-service-api.iml
crawler/crawler-service-api/target