# Created by .ignore support plugin (hsz.mobi)
kame.iml
kame.ipr
kame.iws
playground/crawler/target
playground/page-rank/target
playground/ir/index/target
playground/crawler/playground-crawler.iml
crawler/crawler.iml
crawler/target
playground/page-rank/playground-page-rank.iml
playground/ir/playground-ir.iml
playground/ir/index/playground-ir-index.iml
search-frontend/search-frontend.iml
playground/ir/target
crawler/crawler-core/target
crawler/crawler-core/crawler-core.iml